html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 238, 238);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.crear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70px;
   
}

.pendientes{
    font-size: 40px;
}

.title{
    font-size: 20px;
}

.input{
   width: 50%;
   height: 60%;
   border-radius: 10px;
   border: none;
   font-size: 18px;
}

.input:focus{
    border: 2px solid #3498DB;
    outline: none;
}

.input-editar{
    width: 70%;
    height: 33px;
}


.btn{
    background-color: #3498DB;
    border: none;
    width: 100px;
    padding: 5px;
    margin: 10px;
    height: 65%;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover{
    filter: brightness(80%);
}

.delete{
    background-color: #27AE60;
    margin-left: 2px;
    
}

.edit{
    background-color: #D35400 ;

}

.todo-container{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 40%;
    margin-top: 20px;
    align-items: center;
    
}

.form{
    display: flex;
    align-items: center;
}


